include LICENSE
recursive-include docs *.py
recursive-include docs *.rst
recursive-include docs *.txt
recursive-include docs Makefile
recursive-include tests *.json
recursive-include tests *.md
recursive-include tests *.py
recursive-include tests *.yaml
exclude .pre-commit-config.yaml
exclude .readthedocs.yaml
